@charset "UTF-8";
/* reusable classes */
.hidden {
    display:none;
}
#anvaska-record-form textarea {
    height: 18px;
}
.anvaska-with-btn {
    padding: 0 !important;
    vertical-align: middle !important;
    text-align: right !important;
}