@charset "UTF-8";
html {
}
body {
    background: #5fd95f url("img/bg.png") repeat-x;
}
.container {

}
/* reusable classes */
.hidden {
    display:none;
}
.clear {
    clear: both;
}
/* bootstrap overrides */
.hero-unit {
    background: #F5FC1F;
    box-shadow: 10px 10px 5px #888;
}
.hero-unit, .well {
    box-shadow: 10px 10px 5px #888;
}
.hero-unit h2 {
    font-size: 5em;
    padding-bottom: 10px;
    color: #f5261f;
    /* stroke http://www.quirksmode.org/css/stroke.html */
-webkit-text-stroke: 1px #000;
-webkit-text-fill-color: #f5261f;

}

#anvaska-stat tfoot td {
    font-weight: bold;
    border-top: 1px solid black;
}
#anvaska-record-form textarea {
    height: 18px;
}
.anvaska-with-btn {
    padding: 0 !important;
    vertical-align: middle !important;
    text-align: center !important;
    position: relative;
    width: 126px !important;
}
.anvaska-with-btn > span {
    position: relative;
}
#anvaska-list table,
#anvaska-stat table {
    background: #fff;
}
#anvaska-price-area {
    float: right;
}
